td {
  width: 100px;
  height: 100px;
  border: hidden 4px;
  text-align: center;
  font-size: 50px;
  color: white;
  background-color: black;
}

td:hover {
  background-color: red;
  cursor: pointer;
  color: black;
}

h1 {
  margin-top: 100px;
  font-size: 50px;
  text-align: center;
  font-family: "Concert One", cursive;
}

.player1 {
  text-align: center;
  font-size: 20px;
  font-family: "Concert One", cursive;
  padding-right: 100px;
}

.scores {
  font-size: 20px;
  color: red;
}

.player2 {
  text-align: center;
  font-size: 20px;
  font-family: "Concert One", cursive;
  padding-left: 100px;
}

table {
  font-family: "Concert One", cursive;
}

br {
  position: center;
  display: block;
}

hr {
  border-color: red;
  width: 100px;
  height: 3px solid;
}

.divider {
  transform: rotate(-45deg);
}
